<!-- 标题栏 -->
<header class="bar bar-nav">
	<a class="icon icon-left pull-left" (click)="goBack()"></a>
	<h1 class="title">群动态</h1>
</header>

<!-- 页面内容 -->
<div class="content">
	<div *ngIf="clubMessages.length == 0" class="card">
		<div class="card-header">暂无</div>
	</div>
	<div *ngFor="let message of clubMessages" class="card">
		<div class="list-block media-list">
			<div class="item item-content change-color">
				<div class="item-inner">
					<div *ngIf="message.type == 'A'" class="item-text"><a [routerLink]="['/user', message.operator_user_id, 'detail']">{{message.operator_username}}</a> 发起了新活动 <a [routerLink]="['/activity', message.target_id, 'detail']">{{message.target_name}}</a></div>
					<div *ngIf="message.type == 'C'" class="item-text"><a [routerLink]="['/user', message.operator_user_id, 'detail']">{{message.operator_username}}</a> 创建了群组</div>
					<div *ngIf="message.type == 'E'" class="item-text"><a [routerLink]="['/user', message.target_id, 'detail']">{{message.target_name}}</a> 加入了群组</div>
					<div *ngIf="message.type == 'Q'" class="item-text"><a [routerLink]="['/user', message.operator_user_id, 'detail']">{{message.operator_username}}</a> 退出了群组</div>
					<div *ngIf="message.type == 'AB'" class="item-text"><a [routerLink]="['/user', message.operator_user_id, 'detail']">{{message.operator_username}}</a> 公布了活动 <a [routerLink]="['/activity', message.target_id, 'detail']">{{message.target_name}}</a> 的账单</div>
					<div *ngIf="message.type == 'ABU'" class="item-text"><a [routerLink]="['/user', message.operator_user_id, 'detail']">{{message.operator_username}}</a> 更新了活动 <a [routerLink]="['/activity', message.target_id, 'detail']">{{message.target_name}}</a> 的账单</div>
					<div *ngIf="message.type == 'ABF'" class="item-text"><a [routerLink]="['/user', message.operator_user_id, 'detail']">{{message.operator_username}}</a> 结算了活动 <a [routerLink]="['/activity', message.target_id, 'detail']">{{message.target_name}}</a> 的账单</div>
					<div *ngIf="message.type == 'AU'" class="item-text"><a [routerLink]="['/user', message.operator_user_id, 'detail']">{{message.operator_username}}</a> 更新了活动 <a [routerLink]="['/activity', message.target_id, 'detail']">{{message.target_name}}</a></div>
					<div class="item-subtitle">{{message.create_time | date: "short"}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
