.item-after {
    max-width: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-subtitle {
    font-size: .65rem;
    color: #5f646e;
}

.change-color {
    color: #3d4145;
}

.set-width {
    width: 100%;
}

.set-margin {
    margin-top: 0.8rem;
}