<!-- 标题栏 -->
<header class="bar bar-nav">
	<h1 class="title">首页</h1>
	<a *ngIf="!loggedIn" class="button button-link button-nav pull-right" [routerLink]="['/log_in']">
		登录
		<span class="icon icon-me"></span>
	</a>
</header>

<!-- 工具栏 -->
<nav *ngIf="loggedIn" class="bar bar-tab">
	<a class="tab-item external active" [routerLink]="['/page_home']">
		<span class="icon icon-home"></span>
		<span class="tab-label">首页</span>
	</a>
	<a class="tab-item external" [routerLink]="['/page_messages']">
		<span class="icon icon-message"></span>
		<span class="tab-label">消息</span>
	</a>
	<a class="tab-item external" [routerLink]="['/page_my']">
		<span class="icon icon-me"></span>
		<span class="tab-label">我的</span>
	</a>
</nav>



<!-- 页面内容 -->
<div class="content">
	<div class="content-block-title change-margin">资讯</div>
	<div class="list-block media-list">
		<ul>
			<li *ngFor="let newsItem of news" [routerLink]="['/news', newsItem.id, 'detail']">
				<div class="item-content">
					<div class="item-media"><img src="{{newsItem.img_url}}"></div>
					<div class="item-inner">
						<div class="item-title-row">
							<div class="item-title">{{newsItem.title}}</div>
						</div>
						<div class="item-text">{{newsItem.brief}}</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="content-block-title change-margin">热门群组</div>
	<div *ngFor="let club of clubs" class="card" [routerLink]="['/club', club.id, 'detail']">
		<div class="card-header change-text">{{club.name}}</div>
		<div class="card-content">
			<div class="card-content-inner"><span>简介：</span>{{club.brief_intro}}</div>
		</div>
		<div class="card-footer">
			<span></span>
			<span class="pull-right">{{club.member_number}} 名成员</span>
		</div>
	</div>

	<div class="content-block-title">你还可以</div>
	<div  class="content-block change-margin-2">
		<div class="searchbar row">
			<div class="search-input col-80">
				<input type="search" [(ngModel)]="searchName" placeholder='输入关键字...'/>
			</div>
			<a class="button button-fill button-primary col-20" [routerLink]="['/club_list', {part_name: searchName}]">搜索</a>
		</div>
	</div>
	<p class="change-style">或者</p>
	<div class="content-block change-margin">
		<button class="set-width button button-big button-fill button-success change-height" [routerLink]="['/club/create']">创建一个群组</button>
	</div>
</div>