<!-- 标题栏 -->
<header class="bar bar-nav">
	<h1 class="title">消息</h1>
</header>

<!-- 工具栏 -->
<nav class="bar bar-tab">
	<a class="tab-item external" [routerLink]="['/page_home']">
		<span class="icon icon-home"></span>
		<span class="tab-label">首页</span>
	</a>
	<a class="tab-item external active" [routerLink]="['/page_messages']">
		<span class="icon icon-message"></span>
		<span class="tab-label">消息</span>
	</a>
	<a class="tab-item external" [routerLink]="['/page_my']">
		<span class="icon icon-me"></span>
		<span class="tab-label">我的</span>
	</a>
</nav>

<!-- 页面内容 -->
<div class="content">
	<div *ngFor="let notification of notifications; let i = index" class="card">
		<div *ngIf="notification.is_read == 1" (click)="onClickNotification(notification)" class="card-header">
			{{notification.title}}
			<div class="pull-right">
				{{notification.create_time | date}}
			</div>
		</div>
		<div *ngIf="notification.is_read == 0" (click)="onClickNotification(notification)" class="card-header add-bold">
			{{notification.title}}
			<div class="pull-right">
				{{notification.create_time | date}}
			</div>
		</div>
		<div *ngIf="notification.opened" class="card-content">
			<div *ngIf="notification.type == 'JC'" class="card-content-inner">您已加入群 <a [routerLink]="['/club', notification.object_id]">{{notification.object_name}}</a></div>
			<div *ngIf="notification.type == 'AC'" class="card-content-inner">群 <a [routerLink]="['/club', notification.subject_id]">{{notification.subject_name}}</a> 发起了新活动 <a [routerLink]="['/activity', notification.object_id]">{{notification.object_name}}</a></div>
			<div *ngIf="notification.type == 'A'" class="card-content-inner">您收到了新的 <a [routerLink]="['/application', notification.object_id]">入群申请</a></div>
			<div *ngIf="notification.type == 'AB'" class="card-content-inner">您参与的活动 <a [routerLink]="['/activity', notification.subject_id]">{{notification.subject_name}}</a> 公布了账单</div>
			<div *ngIf="notification.type == 'AR'" class="card-content-inner">您加入群 <a [routerLink]="['/club', notification.object_id]">{{notification.object_name}}</a> 的申请已被回绝</div>
		</div>
	</div>
</div>
