img {
    width: 4rem;
    height: 4rem;
}

.change-margin {
    margin-top: 0.8rem;
}

.set-width {
    width: 100%;
}

.change-margin-2 {
    margin-bottom: 0.5rem;
}

.change-style {
    text-align: center;
    margin: 0;
}

.change-height {
    line-height: 1.8rem!important;
    height: 1.8rem;
}
